In [49]:

# Importing all the Necessary Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore", UserWarning)

In [50]:

# Reading the Dataset
df_covid=pd.read_csv("schema_1_ontario_final.csv")
df_covid

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n
263635,14,M6P,n,y,y,n,n,n,n,y,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263637,14,M6R,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

#### 1. Creating a duplicate of the original dataset so changes can be made safely without affecting the raw data. The code displays the copied DataFrame to confirm the copy was created correctly.

In [51]:

df_covid_copy=df_covid.copy()
df_covid_copy

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,n,n,y,n,n,n,n,n,n,n
1,13,P1H,y,y,y,n,n,n,y,y,n,y
2,14,N2J,n,y,y,n,n,n,y,n,n,n
3,13,N1G,n,n,y,n,n,n,n,n,n,n
4,13,M1P,n,y,n,n,n,n,n,y,n,n
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,n,y,y,n,n,n,n,y,n,n
263635,14,M6P,n,y,y,n,n,n,n,y,n,n
263636,13,L3X,n,n,y,n,n,n,n,n,n,n
263637,14,M6R,n,n,y,n,n,n,n,n,n,n
263638,13,M8V,y,y,y,n,n,n,y,n,y,y

#### 2. Converting all yes/no survey columns into numeric values (1 and 0). This transformation makes the data easier to analyze, aggregate, and use in calculations or visualizations.

In [52]:

cols_list = [
    'probable', 'vulnerable', 'is_most_recent', 'fever_chills_shakes', 
    'cough', 'shortness_of_breath', 'over_60', 'any_medical_conditions', 
    'travel_outside_canada', 'contact_with_illness'
]
df_covid_copy[cols_list] =  df_covid_copy[cols_list].replace({'y': 1, 'n': 0})

df_covid_copy

C:\Users\prann\AppData\Local\Temp\ipykernel_27100\1705672150.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_covid_copy[cols_list] =  df_covid_copy[cols_list].replace({'y': 1, 'n': 0})

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,0,0,1,0,0,0,0,0,0,0
1,13,P1H,1,1,1,0,0,0,1,1,0,1
2,14,N2J,0,1,1,0,0,0,1,0,0,0
3,13,N1G,0,0,1,0,0,0,0,0,0,0
4,13,M1P,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,0,1,1,0,0,0,0,1,0,0
263635,14,M6P,0,1,1,0,0,0,0,1,0,0
263636,13,L3X,0,0,1,0,0,0,0,0,0,0
263637,14,M6R,0,0,1,0,0,0,0,0,0,0
263638,13,M8V,1,1,1,0,0,0,1,0,1,1

#### 3. Grouping the dataset by the **'is_most_recent'** column and counts how many records fall into each group. It helps identify how many rows are marked as the most recent records versus non-recent ones.

In [53]:

df_covid_copy.groupby('is_most_recent').size()

is_most_recent
0     24694
1    238945
dtype: int64

#### 4. Filtering the dataset to keep only latest response.The below code filter outs the older responses, so that analysis is performed only on the latest data entries.

In [54]:

df_covid_copy = df_covid_copy[df_covid_copy['is_most_recent'] == 1]
df_covid_copy

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,0,0,1,0,0,0,0,0,0,0
1,13,P1H,1,1,1,0,0,0,1,1,0,1
2,14,N2J,0,1,1,0,0,0,1,0,0,0
3,13,N1G,0,0,1,0,0,0,0,0,0,0
5,14,L3M,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,0,1,1,0,0,0,0,1,0,0
263635,14,M6P,0,1,1,0,0,0,0,1,0,0
263636,13,L3X,0,0,1,0,0,0,0,0,0,0
263637,14,M6R,0,0,1,0,0,0,0,0,0,0
263638,13,M8V,1,1,1,0,0,0,1,0,1,1

#### 5. Dropping off the **'is_most_recent'** column from the dataset since all the responses are filter to latest and it is having unique values(1)  and is no longer needed for analysis. Dropping it helps keep the dataset clean and avoids carrying unnecessary columns forward.

In [55]:

#Dropping unnecessary column
df_covid_copy =  df_covid_copy.drop(columns=['is_most_recent'])
df_covid_copy

,week,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,over_60,any_medical_conditions,travel_outside_canada,contact_with_illness
0,13,L4C,0,0,0,0,0,0,0,0,0
1,13,P1H,1,1,0,0,0,1,1,0,1
2,14,N2J,0,1,0,0,0,1,0,0,0
3,13,N1G,0,0,0,0,0,0,0,0,0
5,14,L3M,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,0,1,0,0,0,0,1,0,0
263635,14,M6P,0,1,0,0,0,0,1,0,0
263636,13,L3X,0,0,0,0,0,0,0,0,0
263637,14,M6R,0,0,0,0,0,0,0,0,0
263638,13,M8V,1,1,0,0,0,1,0,1,1

#### 6. Renaming the columns using clearer, more descriptive labels to improve readability and make the dataset easier to understand for analysis and reporting. Using standardized names also helps ensure consistency when sharing data or creating dashboards.

In [56]:

#Renaming columns for better readability
rename_dict = {
    'week': 'Report_Week',
    'fsa': 'Postal_District',
    'probable': 'Is_Probable_Case',
    'fever_chills_shakes': 'Symptom_Fever',
    'cough': 'Symptom_Cough',
    'shortness_of_breath': 'Symptom_Breath_Shortness',
    'over_60': 'Age_60_Plus',
    'any_medical_conditions': 'Has_Preexisting_Condition',
    'travel_outside_canada': 'Recent_Traveler',
    'contact_with_illness': 'Known_Exposure',
    'vulnerable' : 'Is_Vulnerable_Case'
    
}

df_covid_copy.rename(columns=rename_dict, inplace=True)
df_covid_copy.columns

Index(['Report_Week', 'Postal_District', 'Is_Probable_Case',
       'Is_Vulnerable_Case', 'Symptom_Fever', 'Symptom_Cough',
       'Symptom_Breath_Shortness', 'Age_60_Plus', 'Has_Preexisting_Condition',
       'Recent_Traveler', 'Known_Exposure'],
      dtype='object')

#### 7. Creating a new **'Month'** column from the weekly data by converting the report week number into a date and then extracting the month name. This standardization allows weekly data to be aligned with month-based analysis and makes it easier to compare trends across different time periods.

In [57]:

#Creating a new column
df_covid_copy["Month"] = (
    pd.to_datetime("2020-W" + df_covid_copy["Report_Week"].astype(str) + "-1",
                   format="%G-W%V-%u")
      .dt.month_name()
)
df_covid_copy['Month']

0         March
1         March
2         March
3         March
5         March
          ...
263634    March
263635    March
263636    March
263637    March
263638    March
Name: Month, Length: 238945, dtype: object

#### 8. Replacing numeric age indicators with clear age-group labels (<60 and >60) to make the data more readable and easier to interpret. Standardizing age ranges also improves clarity in analysis, reporting, and visualizations.

In [58]:

#Replacing the value for column Age_60_Plus
df_covid_copy["Age_60_Plus"] = df_covid_copy["Age_60_Plus"].replace({
    0: "<60",
    1: ">60"
})
df_covid_copy['Age_60_Plus']

0         <60
1         >60
2         >60
3         <60
5         <60
         ...
263634    <60
263635    <60
263636    <60
263637    <60
263638    >60
Name: Age_60_Plus, Length: 238945, dtype: object

#### 9. Renaming the age-related column to a more descriptive and user-friendly label. Using Age_Range makes the meaning of the data clearer and improves consistency for analysis, reporting, and dashboard creation.

In [59]:

#Renaming the column
df_covid_copy = df_covid_copy.rename(columns={'Age_60_Plus': 'Age_Range'})
df_covid_copy

,Report_Week,Postal_District,Is_Probable_Case,Is_Vulnerable_Case,Symptom_Fever,Symptom_Cough,Symptom_Breath_Shortness,Age_Range,Has_Preexisting_Condition,Recent_Traveler,Known_Exposure,Month
0,13,L4C,0,0,0,0,0,<60,0,0,0,March
1,13,P1H,1,1,0,0,0,>60,1,0,1,March
2,14,N2J,0,1,0,0,0,>60,0,0,0,March
3,13,N1G,0,0,0,0,0,<60,0,0,0,March
5,14,L3M,0,0,0,0,0,<60,0,0,0,March
...,...,...,...,...,...,...,...,...,...,...,...,...
263634,14,N0G,0,1,0,0,0,<60,1,0,0,March
263635,14,M6P,0,1,0,0,0,<60,1,0,0,March
263636,13,L3X,0,0,0,0,0,<60,0,0,0,March
263637,14,M6R,0,0,0,0,0,<60,0,0,0,March
263638,13,M8V,1,1,0,0,0,>60,0,1,1,March

#### 10. Reading the CSV file(Schema_2_ontario_final.csv)

In [60]:

#Reading the CSV file
df_covid_2=pd.read_csv('schema_2_ontario_final.csv')
df_covid_2

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,n,y,y,n,n,n,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,n,n,y,n,n,n,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,n,n,y,n,n,n,y,n,n,NaN,NaN,asian,m,other,26-44
14931,16,L6J,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44

#### 11. creating a separate copy of the Schema 2 dataset so that any cleaning or transformations can be performed without modifying the original data. Displaying the copied DataFrame confirms that the copy was created successfully.

In [61]:

#Creating a copy
df_covid_copy2=df_covid_2.copy()
df_covid_copy2

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,n,n,y,n,n,n,y,n,n,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,n,y,y,n,n,n,y,n,n,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,n,y,n,n,n,n,y,n,n,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,f,emotionalSupport,26-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,n,y,y,n,n,n,y,n,n,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,n,n,y,n,n,n,y,n,n,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,n,n,y,n,n,n,y,n,n,NaN,NaN,asian,m,other,26-44
14931,16,L6J,n,n,y,n,n,n,y,n,n,NaN,NaN,caucasian,m,other,26-44

#### 12. Selecting specific yes/no survey columns and converts their values from ‘y’ and ‘n’ into numeric values (1 and 0). This transformation makes the data easier to analyze, aggregate, and use in calculations or visualizations.

In [62]:

#Replacing Values
cols_list2 = [
    'probable', 'vulnerable', 'is_most_recent', 'fever_chills_shakes', 
    'cough', 'shortness_of_breath', 'any_medical_conditions', 
    'travel_outside_canada', 'contact_with_illness'
]
df_covid_copy2[cols_list2] =  df_covid_copy2[cols_list2].replace({'y': 1, 'n': 0})
df_covid_copy2

C:\Users\prann\AppData\Local\Temp\ipykernel_27100\2864750497.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_covid_copy2[cols_list2] =  df_covid_copy2[cols_list2].replace({'y': 1, 'n': 0})

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,0,0,1,0,0,0,1,0,0,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,0,1,1,0,0,0,1,0,0,runnyNose,highBloodPressure,asian,m,other,45-64
2,16,N2P,0,1,0,0,0,0,1,0,0,NaN,highBloodPressure,asian,m,other,45-64
3,16,M4P,0,0,1,0,0,0,1,0,0,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,0,0,1,0,0,0,1,0,0,NaN,NaN,caucasian,f,emotionalSupport,26-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,0,1,1,0,0,0,1,0,0,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,0,0,1,0,0,0,1,0,0,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,0,0,1,0,0,0,1,0,0,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,0,0,1,0,0,0,1,0,0,NaN,NaN,asian,m,other,26-44
14931,16,L6J,0,0,1,0,0,0,1,0,0,NaN,NaN,caucasian,m,other,26-44

#### 13. Grouping the dataset by the **'is_most_recent'** flag and counts the number of records in each group. It helps identify how many entries are marked as the most recent versus older records.

In [63]:

#Using Groupby
df_covid_copy2.groupby('is_most_recent').size()

is_most_recent
0     3209
1    11723
dtype: int64

#### 14. Filtering the dataset to retain only the records marked as the most recent (is_most_recent = 1). This ensures that further analysis is performed using the latest and most relevant data entries.

In [64]:

df_covid_copy2 = df_covid_copy2[df_covid_copy2['is_most_recent'] == 1]
df_covid_copy2

,week,fsa,probable,vulnerable,is_most_recent,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,0,0,1,0,0,0,1,0,0,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,0,1,1,0,0,0,1,0,0,runnyNose,highBloodPressure,asian,m,other,45-64
3,16,M4P,0,0,1,0,0,0,1,0,0,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,0,0,1,0,0,0,1,0,0,NaN,NaN,caucasian,f,emotionalSupport,26-44
5,15,M4S,0,0,1,0,0,0,1,0,0,soreThroat;runnyNose,NaN,NaN,f,NaN,45-64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,0,1,1,0,0,0,1,0,0,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,0,0,1,0,0,0,1,0,0,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,0,0,1,0,0,0,1,0,0,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,0,0,1,0,0,0,1,0,0,NaN,NaN,asian,m,other,26-44
14931,16,L6J,0,0,1,0,0,0,1,0,0,NaN,NaN,caucasian,m,other,26-44

#### 15.  Dropping off the **'is_most_recent'** column as it is already filter to recent responses. Dropping it keeps the dataset clean and avoids carrying an unnecessary column into further analysis.

In [65]:

#Dropping the column name
df_covid_copy2 = df_covid_copy2.drop(columns=['is_most_recent'])
df_covid_copy2

,week,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,symptoms,conditions,ethnicity,sex,needs,age_1
0,15,M1P,0,0,0,0,0,1,0,0,NaN,NaN,NaN,m,NaN,45-64
1,16,N2P,0,1,0,0,0,1,0,0,runnyNose,highBloodPressure,asian,m,other,45-64
3,16,M4P,0,0,0,0,0,1,0,0,NaN,NaN,caucasian,f,emotionalSupport,26-44
4,16,L4N,0,0,0,0,0,1,0,0,NaN,NaN,caucasian,f,emotionalSupport,26-44
5,15,M4S,0,0,0,0,0,1,0,0,soreThroat;runnyNose,NaN,NaN,f,NaN,45-64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14927,15,L6B,0,1,0,0,0,1,0,0,NaN,heartDisease;breathingProblems,NaN,f,NaN,26-44
14928,15,L6J,0,0,0,0,0,1,0,0,runnyNose,NaN,NaN,f,NaN,45-64
14929,16,N9V,0,0,0,0,0,1,0,0,NaN,NaN,caucasian,m,other,26-44
14930,16,L3Z,0,0,0,0,0,1,0,0,NaN,NaN,asian,m,other,26-44
14931,16,L6J,0,0,0,0,0,1,0,0,NaN,NaN,caucasian,m,other,26-44

#### 16. Creating a **'Month'** column from the week number by converting each week into a corresponding month. This helps standardize the data for month-based analysis and comparisons across datasets.

In [66]:

#Creating a month column
df_covid_copy2["Month"] = (
    pd.to_datetime("2020-W" + df_covid_copy2["week"].astype(str) + "-1",
                   format="%G-W%V-%u")
      .dt.month_name()
)
df_covid_copy2['Month']

0        April
1        April
3        April
4        April
5        April
         ...
14927    April
14928    April
14929    April
14930    April
14931    April
Name: Month, Length: 11723, dtype: object

#### 17. Replacing abbreviated gender values with full, readable labels by converting 'm to Male' and 'f to Female'. Standardizing these values improves clarity and consistency for analysis and reporting.

In [67]:

#Replacing the column values
df_covid_copy2["sex"] = df_covid_copy2["sex"].replace({'m': 'Male', 'f':'Female'})
df_covid_copy2["sex"]

0          Male
1          Male
3        Female
4        Female
5        Female
          ...
14927    Female
14928    Female
14929      Male
14930      Male
14931      Male
Name: sex, Length: 11723, dtype: object

#### 18. Renaming these columns as the original column names are inconsistent, so standardizing them to cleaner, shorter, more technical identifiers.

In [68]:

#Renaming the column names
rename_column = {
    'week': 'Report_Week',
    'fsa': 'Postal_District',
    'probable': 'Is_Probable_Case',
    'fever_chills_shakes': 'Symptom_Fever',
    'cough': 'Symptom_Cough',
    'shortness_of_breath': 'Symptom_Breath_Shortness',
    'age_1': 'Age_Range',
    'any_medical_conditions': 'Has_Preexisting_Condition',
    'travel_outside_canada': 'Recent_Traveler',
    'contact_with_illness': 'Known_Exposure',
    'conditions' : 'Conditions',
    'ethnicity' : 'Ethnicity',
    'sex' : 'Gender',
    'needs' : 'Needs',
    'vulnerable' : 'Is_Vulnerable_Case'
}

df_covid_copy2.rename(columns=rename_column, inplace=True)
df_covid_copy2.columns

Index(['Report_Week', 'Postal_District', 'Is_Probable_Case',
       'Is_Vulnerable_Case', 'Symptom_Fever', 'Symptom_Cough',
       'Symptom_Breath_Shortness', 'Has_Preexisting_Condition',
       'Recent_Traveler', 'Known_Exposure', 'symptoms', 'Conditions',
       'Ethnicity', 'Gender', 'Needs', 'Age_Range', 'Month'],
      dtype='object')

#### 19. Reading the CSV file(schema_3_ontario_final.csv)

In [69]:

#Reading a CSV file
df_covid_3 = pd.read_csv("schema_3_ontario_final.csv")
df_covid_3

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,n,n,n,n,n,y,n,n,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,n,n,n,n,n,y,n,n,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,n,n,n,n,n,y,n,n,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,n,n,n,n,n,y,n,n,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,n,y,n,n,n,y,n,n,...,NaN,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,n,n,n,n,n,y,n,n,...,NaN,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

#### 20. creating a separate copy of the dataset so that any cleaning or transformations can be performed without modifying the original data. Displaying the copied DataFrame confirms that the copy was created successfully.

In [70]:

#Copying a file
df_covid_copy3=df_covid_3.copy()
df_covid_copy3

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,n,n,n,n,n,y,n,n,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,n,n,n,n,n,y,n,n,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,n,n,n,n,n,y,n,n,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,n,n,n,n,n,y,n,n,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,n,n,n,n,n,y,n,n,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,n,y,n,n,n,y,n,n,...,NaN,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,n,n,n,n,n,y,n,n,...,NaN,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

#### 21. Converting selected yes/no columns in the dataset from ‘y’ and ‘n’ into numeric values (1 and 0). Only fewer columns are included because this CSV file contains less information compared to the other CSV, so the transformation is applied only where relevant data exists.

In [71]:

#Replacing the values
cols_list3 = [
    'probable', 'vulnerable', 'fever_chills_shakes', 
    'cough', 'shortness_of_breath', 'any_medical_conditions', 
    'travel_outside_canada', 'contact_with_illness', 'contact_in_household', 'tested'
]
df_covid_copy3[cols_list3] =  df_covid_copy3[cols_list3].replace({'y': 1, 'n': 0})
df_covid_copy3

C:\Users\prann\AppData\Local\Temp\ipykernel_27100\2727112418.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_covid_copy3[cols_list3] =  df_covid_copy3[cols_list3].replace({'y': 1, 'n': 0})

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,0,0,0,0,0,1,0,0,...,caucasian,f,food,<26,noImpact,stoppedTravelling,y,twitter;tv;reddit,NaN,n
2,April,K0L,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,0,0,0,0,0,1,0,0,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,0,0,0,0,0,1,0,0,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,0,0,0,0,0,1,0,0,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,0,1,0,0,0,1,0,0,...,NaN,m,noneOfTheAbove,>65,noImpact,didntTravelBefore,n,newspaper;radio,NaN,n
15533,July,K2H,0,0,0,0,0,1,0,0,...,NaN,f,noneOfTheAbove,45-64,negatively,stillTravelEssential,y,NaN,NaN,n

#### 22. Standardizing the gender values by replacing abbreviations with full labels (m → Male, f → `Female). This improves readability and ensures consistency with the other CSVs for comparison and analysis.

In [72]:

#Replacing the values
df_covid_copy3["sex"] = df_covid_copy3["sex"].replace({'m': 'Male', 'f':'Female'})
df_covid_copy3["sex"]

0           NaN
1        Female
2           NaN
3           NaN
4           NaN
          ...
15529       NaN
15530       NaN
15531       NaN
15532      Male
15533    Female
Name: sex, Length: 15534, dtype: object

#### 23. This code converts the yes/no values in the self_isolating and tobacco_usage columns into numeric values (1 for yes, 0 for no). Converting these fields to numeric format makes them easier to analyze, summarize, and compare with other variables.

In [73]:

#Replacing values
df_covid_copy3['self_isolating'] =  df_covid_copy3['self_isolating'].replace({'y': 1, 'n': 0})
df_covid_copy3

C:\Users\prann\AppData\Local\Temp\ipykernel_27100\178454910.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_covid_copy3['self_isolating'] =  df_covid_copy3['self_isolating'].replace({'y': 1, 'n': 0})

,month,fsa,probable,vulnerable,fever_chills_shakes,cough,shortness_of_breath,any_medical_conditions,travel_outside_canada,contact_with_illness,...,ethnicity,sex,needs,age_1,mental_health_impact,travel_work_school,self_isolating,media_channels,financial_obligations_impact,tobacco_usage
0,April,M4P,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,0,0,0,0,0,1,0,0,...,caucasian,Female,food,<26,noImpact,stoppedTravelling,1.0,twitter;tv;reddit,NaN,n
2,April,K0L,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,0,0,0,0,0,1,0,0,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,0,0,0,0,0,1,0,0,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,0,0,0,0,0,1,0,0,...,firstNations;black/african;caucasian,NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,0,1,0,0,0,1,0,0,...,NaN,Male,noneOfTheAbove,>65,noImpact,didntTravelBefore,0.0,newspaper;radio,NaN,n
15533,July,K2H,0,0,0,0,0,1,0,0,...,NaN,Female,noneOfTheAbove,45-64,negatively,stillTravelEssential,1.0,NaN,NaN,n

#### 24.Tobacco usage was recoded into three categories—never smoker, former smoker (quit smoking), and current smoker—to reduce misclassification and to enable a more accurate assessment of the association between smoking behavior and symptom reporting.

In [74]:

tobacco_map = {
    'n': 'Never smoker',
    'quitSmoking': 'Former smoker',
    'y': 'Current smoker'
}

df_covid_copy3['tobacco_usage'] = (
    df_covid_copy3['tobacco_usage']
    .map(tobacco_map)
)
df_covid_copy3['tobacco_usage']

0                 NaN
1        Never smoker
2                 NaN
3                 NaN
4                 NaN
             ...
15529             NaN
15530             NaN
15531             NaN
15532    Never smoker
15533    Never smoker
Name: tobacco_usage, Length: 15534, dtype: object

##### 25. Renaming these columns as the original column names are inconsistent, so standardizing them to cleaner, shorter, more technical identifiers.

In [75]:

#Renaming the column names
rename_column3 = {
    'month': 'Month',
    'fsa': 'Postal_District',
    'vulnerable':'Is_Vulnerable_Case',
    'probable': 'Is_Probable_Case',
    'fever_chills_shakes': 'Symptom_Fever',
    'cough': 'Symptom_Cough',
    'shortness_of_breath': 'Symptom_Breath_Shortness',
    'age_1': 'Age_Range',
    'any_medical_conditions': 'Has_Preexisting_Condition',
    'travel_outside_canada': 'Recent_Traveler',
    'contact_with_illness': 'Known_Exposure',
    'ethnicity' : 'Ethnicity',
    'sex' : 'Gender',
    'needs' : 'Needs',
    'mental_health_impact' : 'Mental_Health_Status',
    'travel_work_school' : 'Travel_Within_Canada',
    'self_isolating' : 'Quarantine',
    'media_channels' : 'Media',
    'financial_obligations_impact' : 'Financial_Impact',
    'tobacco_usage' : 'Tobacco_Usage',
    'conditions' : 'Conditions'      
}

df_covid_copy3.rename(columns=rename_column3, inplace=True)
df_covid_copy3.columns

Index(['Month', 'Postal_District', 'Is_Probable_Case', 'Is_Vulnerable_Case',
       'Symptom_Fever', 'Symptom_Cough', 'Symptom_Breath_Shortness',
       'Has_Preexisting_Condition', 'Recent_Traveler', 'Known_Exposure',
       'contact_in_household', 'tested', 'covid_results_date',
       'covid_positive', 'symptoms', 'Conditions', 'Ethnicity', 'Gender',
       'Needs', 'Age_Range', 'Mental_Health_Status', 'Travel_Within_Canada',
       'Quarantine', 'Media', 'Financial_Impact', 'Tobacco_Usage'],
      dtype='object')

#### 26. Standardizing text format by replacing semicolons with commas in the selected columns. Converting the values to comma-separated lists improves readability and makes the data easier to use in analysis and visualizations.

In [76]:

#Replacing semicolons with colons
cols = ["Media", "Ethnicity", "Financial_Impact"]

for col in cols:
    df_covid_copy3[f"{col}"] = df_covid_copy3[col].str.replace(";", ",", regex=False)

df_covid_copy3

,Month,Postal_District,Is_Probable_Case,Is_Vulnerable_Case,Symptom_Fever,Symptom_Cough,Symptom_Breath_Shortness,Has_Preexisting_Condition,Recent_Traveler,Known_Exposure,...,Ethnicity,Gender,Needs,Age_Range,Mental_Health_Status,Travel_Within_Canada,Quarantine,Media,Financial_Impact,Tobacco_Usage
0,April,M4P,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,<26,NaN,NaN,NaN,NaN,NaN,NaN
1,April,M9P,0,0,0,0,0,1,0,0,...,caucasian,Female,food,<26,noImpact,stoppedTravelling,1.0,"twitter,tv,reddit",NaN,Never smoker
2,April,K0L,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
3,April,N9E,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,45-64,NaN,NaN,NaN,NaN,NaN,NaN
4,April,L2N,0,0,0,0,0,1,0,0,...,NaN,NaN,financialSupport,<26,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15529,July,M6P,0,0,0,0,0,1,0,0,...,NaN,NaN,emotionalSupport,45-64,NaN,NaN,NaN,NaN,NaN,NaN
15530,July,K1R,0,0,0,0,0,1,0,0,...,"firstNations,black/african,caucasian",NaN,emotionalSupport,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15531,July,M4M,0,0,0,0,0,1,0,0,...,NaN,NaN,noneOfTheAbove,26-44,NaN,NaN,NaN,NaN,NaN,NaN
15532,July,M6P,0,1,0,0,0,1,0,0,...,NaN,Male,noneOfTheAbove,>65,noImpact,didntTravelBefore,0.0,"newspaper,radio",NaN,Never smoker
15533,July,K2H,0,0,0,0,0,1,0,0,...,NaN,Female,noneOfTheAbove,45-64,negatively,stillTravelEssential,1.0,NaN,NaN,Never smoker

#### 27. Adding space between the values to improve readability
#### For example: Needs column value is FinancialSupport After adding space the value became Financial Support

In [77]:

#Adding space between values
df_covid_copy3['Needs']=df_covid_copy3['Needs'].replace({'noneOfTheAbove':'None','emotionalSupport':'Emotional Support','financialSupport':'Financial Support'})

df_covid_copy3['Needs']

0                     None
1                     food
2                     None
3                     None
4        Financial Support
               ...
15529    Emotional Support
15530    Emotional Support
15531                 None
15532                 None
15533                 None
Name: Needs, Length: 15534, dtype: object

#### 28. Standardizing the values in the Mental_Health_Status column by replacing coded responses with clear, consistent labels. Normalizing these categories improves readability and ensures the data is easier to interpret during analysis and reporting.

In [78]:

#Replacing the values with space.
df_covid_copy3['Mental_Health_Status']=df_covid_copy3['Mental_Health_Status'].replace({'noImpact':'No Impact','negatively':'Negative','positively':'Positive'})

df_covid_copy3['Mental_Health_Status']

0              NaN
1        No Impact
2              NaN
3              NaN
4              NaN
           ...
15529          NaN
15530          NaN
15531          NaN
15532    No Impact
15533     Negative
Name: Mental_Health_Status, Length: 15534, dtype: object

#### 29. Replacing the values in the Travel_Within_Canada column with clear, descriptive categories that better reflect respondents’ travel or work situations. Standardizing these labels improves readability and makes the data easier to analyze and present in reports or dashboards.

In [79]:

#Replacing the column names
df_covid_copy3['Travel_Within_Canada']=df_covid_copy3['Travel_Within_Canada'].replace({'alwaysWorkFromHome':'Remote Work','didntTravelBefore':'Not a Commuter','stillTravelEssential':'Frontline Worker','stillTravelNonEssential':'Non-Essential Travel','stoppedTravelling':'Stopped Commuting'})
df_covid_copy3['Travel_Within_Canada']

0                      NaN
1        Stopped Commuting
2                      NaN
3                      NaN
4                      NaN
               ...
15529                  NaN
15530                  NaN
15531                  NaN
15532       Not a Commuter
15533     Frontline Worker
Name: Travel_Within_Canada, Length: 15534, dtype: object


#### 30. Identifying the French text response in the Travel_Within_Canada column and replaces it with the standardized label “Remote Work” Using a regex-based replacement ensures the value is cleaned consistently, even with special characters or punctuation, improving clarity and uniformity in the dataset.

In [80]:

#Replacing column name
df_covid_copy3["Travel_Within_Canada"] = df_covid_copy3["Travel_Within_Canada"].str.replace(
    r"non: j'ai toujours travaille de chez moi.",
    "Remote Work",
    regex=True
)
df_covid_copy3["Travel_Within_Canada"]

0                      NaN
1        Stopped Commuting
2                      NaN
3                      NaN
4                      NaN
               ...
15529                  NaN
15530                  NaN
15531                  NaN
15532       Not a Commuter
15533     Frontline Worker
Name: Travel_Within_Canada, Length: 15534, dtype: object

#### 31. Merged all three files into a single unified COVID survey dataset by:####     1. Standardizing column names and data types (e.g., consistent month, postal_district, 0/1 flags for yes/no).####     2. Aligning the data sets (keeping the union of all columns; missing fields are left as null).####     3. Appending records (row-wise concatenation) rather than joining on keys, because there is no unique respondent ID and merging would cause                many-to-many duplication.
#### A unified dataset ensures all survey responses are analyzed using one consistent structure, which prevents errors caused by working across multiple incompatible schemas.

In [81]:

#Merging the data sets
merged_df_covid_final = pd.concat([df_covid_copy, df_covid_copy2, df_covid_copy3], axis=0, ignore_index=True)
print(f"Successfully merged!")
print(f"Total rows in final file: {len(merged_df_covid_final)}")
print(f"Total columns in final file: {len(merged_df_covid_final.columns)}")
merged_df_covid_final.head(10)

Successfully merged!
Total rows in final file: 266202
Total columns in final file: 27

,Report_Week,Postal_District,Is_Probable_Case,Is_Vulnerable_Case,Symptom_Fever,Symptom_Cough,Symptom_Breath_Shortness,Age_Range,Has_Preexisting_Condition,Recent_Traveler,...,contact_in_household,tested,covid_results_date,covid_positive,Mental_Health_Status,Travel_Within_Canada,Quarantine,Media,Financial_Impact,Tobacco_Usage
0,13.0,L4C,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,1,1,0,0,0,>60,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,0,1,0,0,0,>60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14.0,L3M,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,13.0,L3R,0,1,0,0,0,>60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,14.0,L6C,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,13.0,K9L,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,14.0,L7T,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,14.0,M6H,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 32. Before any cleaning, transformation, or merging, we created and preserved an immutable copy of the original datasets. All preprocessing steps were performed on a separate working copy, leaving the raw data unchanged.

In [82]:

#Copying a data set
merged_df_covid = merged_df_covid_final.copy()
merged_df_covid

,Report_Week,Postal_District,Is_Probable_Case,Is_Vulnerable_Case,Symptom_Fever,Symptom_Cough,Symptom_Breath_Shortness,Age_Range,Has_Preexisting_Condition,Recent_Traveler,...,contact_in_household,tested,covid_results_date,covid_positive,Mental_Health_Status,Travel_Within_Canada,Quarantine,Media,Financial_Impact,Tobacco_Usage
0,13.0,L4C,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,1,1,0,0,0,>60,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,0,1,0,0,0,>60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14.0,L3M,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266197,NaN,M6P,0,0,0,0,0,45-64,1,0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266198,NaN,K1R,0,0,0,0,0,26-44,1,0,...,NaN,1.0,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
266199,NaN,M4M,0,0,0,0,0,26-44,1,0,...,NaN,1.0,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
266200,NaN,M6P,0,1,0,0,0,>65,1,0,...,NaN,0.0,NaN,NaN,No Impact,Not a Commuter,0.0,"newspaper,radio",NaN,Never smoker
266201,NaN,K2H,0,0,0,0,0,45-64,1,0,...,NaN,0.0,NaN,NaN,Negative,Frontline Worker,1.0,NaN,NaN,Never smoker

#### 33. Exact duplicate survey responses were detected via row-wise equality checks and removed to eliminate redundant observations.

In [83]:

merged_df_covid.duplicated().sum()

227652

#### 34. Duplicate rows with identical values across all columns were removed to maintain data uniqueness.

In [84]:

#Dropping duplicated rows
merged_df_covid.drop_duplicates(subset=None, keep='first', inplace=True)
merged_df_covid

,Report_Week,Postal_District,Is_Probable_Case,Is_Vulnerable_Case,Symptom_Fever,Symptom_Cough,Symptom_Breath_Shortness,Age_Range,Has_Preexisting_Condition,Recent_Traveler,...,contact_in_household,tested,covid_results_date,covid_positive,Mental_Health_Status,Travel_Within_Canada,Quarantine,Media,Financial_Impact,Tobacco_Usage
0,13.0,L4C,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,1,1,0,0,0,>60,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,0,1,0,0,0,>60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14.0,L3M,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266195,NaN,N1H,0,0,0,0,0,26-44,1,0,...,NaN,1.0,May,negatively,Negative,Frontline Worker,0.0,"tv,radio,facebook",NaN,Current smoker
266198,NaN,K1R,0,0,0,0,0,26-44,1,0,...,NaN,1.0,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
266199,NaN,M4M,0,0,0,0,0,26-44,1,0,...,NaN,1.0,July,negatively,NaN,NaN,NaN,NaN,NaN,NaN
266200,NaN,M6P,0,1,0,0,0,>65,1,0,...,NaN,0.0,NaN,NaN,No Impact,Not a Commuter,0.0,"newspaper,radio",NaN,Never smoker
266201,NaN,K2H,0,0,0,0,0,45-64,1,0,...,NaN,0.0,NaN,NaN,Negative,Frontline Worker,1.0,NaN,NaN,Never smoker



#### 35. Standardizing the values in the covid_positive column by replacing inconsistent or coded responses with clear labels (Positive and Negative). Cleaning these values ensures consistency across merged dataset and makes the column easier to analyze and interpret.

In [85]:

#Replacing the values
cols_list_merg = [
    'covid_positive'
]
merged_df_covid['covid_positive'] =  merged_df_covid['covid_positive'].replace({ 'n' : 'Negative','negatively': 'Negative','positively':'Positive'})
merged_df_covid

,Report_Week,Postal_District,Is_Probable_Case,Is_Vulnerable_Case,Symptom_Fever,Symptom_Cough,Symptom_Breath_Shortness,Age_Range,Has_Preexisting_Condition,Recent_Traveler,...,contact_in_household,tested,covid_results_date,covid_positive,Mental_Health_Status,Travel_Within_Canada,Quarantine,Media,Financial_Impact,Tobacco_Usage
0,13.0,L4C,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,13.0,P1H,1,1,0,0,0,>60,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,14.0,N2J,0,1,0,0,0,>60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13.0,N1G,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14.0,L3M,0,0,0,0,0,<60,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266195,NaN,N1H,0,0,0,0,0,26-44,1,0,...,NaN,1.0,May,Negative,Negative,Frontline Worker,0.0,"tv,radio,facebook",NaN,Current smoker
266198,NaN,K1R,0,0,0,0,0,26-44,1,0,...,NaN,1.0,July,Negative,NaN,NaN,NaN,NaN,NaN,NaN
266199,NaN,M4M,0,0,0,0,0,26-44,1,0,...,NaN,1.0,July,Negative,NaN,NaN,NaN,NaN,NaN,NaN
266200,NaN,M6P,0,1,0,0,0,>65,1,0,...,NaN,0.0,NaN,NaN,No Impact,Not a Commuter,0.0,"newspaper,radio",NaN,Never smoker
266201,NaN,K2H,0,0,0,0,0,45-64,1,0,...,NaN,0.0,NaN,NaN,Negative,Frontline Worker,1.0,NaN,NaN,Never smoker

In [86]:

#Checking is null
merged_df_covid.isnull().sum()

Report_Week                  12717
Postal_District                  0
Is_Probable_Case                 0
Is_Vulnerable_Case               0
Symptom_Fever                    0
Symptom_Cough                    0
Symptom_Breath_Shortness         0
Age_Range                        0
Has_Preexisting_Condition        0
Recent_Traveler                  0
Known_Exposure                   0
Month                            0
symptoms                     36395
Conditions                   33737
Ethnicity                    33265
Gender                       21142
Needs                        20843
contact_in_household         38393
tested                       25833
covid_results_date           38134
covid_positive               38065
Mental_Health_Status         30084
Travel_Within_Canada         30091
Quarantine                   30092
Media                        32941
Financial_Impact             37638
Tobacco_Usage                30093
dtype: int64

#### 36. Filling missing values in selected categorical columns with NR (Not Reported). Replacing nulls ensures consistency across the merged dataset and prevents missing values from causing issues during analysis, grouping, or visualization.

In [87]:

#Replacing nulls
cols_to_fill = ['Ethnicity', 'Gender', 'Mental_Health_Status', 'Conditions','tested','Report_Week']
for col in cols_to_fill:
    merged_df_covid[col] = merged_df_covid[col].fillna('NR')

#### 37. Fills missing values in the specified columns with NR (Not Reported) to handle incomplete responses consistently. Standardizing missing values helps maintain data quality and ensures these fields can be safely used in analysis, grouping, and reporting without errors.

In [88]:

#Replacing Nulls
cols_to_fill = ['covid_results_date', 'covid_positive', 'Travel_Within_Canada', 'Quarantine', 'Needs' ,'covid_positive','Financial_Impact','Tobacco_Usage']
for col in cols_to_fill:
    merged_df_covid[col] = merged_df_covid[col].fillna('NR')

#### 38. Standardizing the formatting of multi-value text fields by replacing semicolons with commas in the symptoms and Conditions columns. Converting them to comma-separated lists improves readability and makes the data easier to interpret and visualize.

In [89]:

#Replacing ; with ,
cols = ["symptoms", "Conditions"]
for col in cols:
     merged_df_covid[f"{col}"] =  merged_df_covid[col].str.replace(";", ",", regex=False)
merged_df_covid[cols]

       symptoms Conditions
0           NaN         NR
1           NaN         NR
2           NaN         NR
3           NaN         NR
4           NaN         NR
...         ...        ...
266195      NaN         NR
266198      NaN         NR
266199      NaN         NR
266200      NaN         NR
266201      NaN         NR

[38550 rows x 2 columns]

#### 39. Renaming selected columns to clear, standardized, and consistent labels. Using well-formatted column names improves readability and ensures the dataset is easier to understand and use for analysis, reporting, and visualization.

In [90]:

#Renaming the column names
rename_column3 = {
    'covid_positive' : 'COVID_Positive',
    'covid_results_date' : 'COVID_Results_Date',
    'symptoms' : 'Symptoms',
    'tested' : 'COVID_Tested',
}

merged_df_covid.rename(columns=rename_column3, inplace=True)

#### 40.Replacing the values in Conditions,Etinicity to standardized labes Using a regex-based replacement ensures the value is cleaned consistently, even with special characters or punctuation, improving clarity and uniformity in the dataset.

In [91]:
replacement_map = {
    r"\blhypertension": "highBloodPressure",
    r"\bimmunocompromised|\bactivecancer|\bcancer": "Cancer",
    r"\bantecedents\s*davc": "historyOfStroke"
}

s = merged_df_covid["Conditions"].astype("string")
# Replace patterns anywhere in the string
s = s.replace(replacement_map, regex=True)

merged_df_covid["Conditions"] = s
merged_df_covid["Conditions"] .tail(30)

266163                                               NR
266164                                               NR
266165                                               NR
266166                          breathingProblems,other
266167                                               NR
266169                                               NR
266170                                               NR
266171                                               NR
266172    noneOfTheAbove,highBloodPressure,heartDisease
266173                                               NR
266174                                               NR
266175                   highBloodPressure,heartDisease
266176                                               NR
266178                                               NR
266180                                               NR
266181                                               NR
266182                     heartDisease,historyOfStroke
266184                                               NR
266185                             noneOfTheAbove,other
266187                                               NR
266188                                               NR
266190                                               NR
266191          diabetes,highBloodPressure,Cancer,other
266193                          breathingProblems,other
266194                                               NR
266195                                               NR
266198                                               NR
266199                                               NR
266200                                               NR
266201                                               NR
Name: Conditions, dtype: string

In [92]:
merged_df_covid["Ethnicity"] = (
    merged_df_covid["Ethnicity"]
    .astype("string")
    .str.replace(r"\bpreferNotToAnswer\b", "Others", regex=True)
)
merged_df_covid["Ethnicity"].tail(30)

266163                                      NR
266164                                      NR
266165                                      NR
266166                                      NR
266167                                      NR
266169                                      NR
266170                                      NR
266171               caucasian,hispanic/latino
266172                                      NR
266173                                      NR
266174                                      NR
266175                                      NR
266176                                      NR
266178                                      NR
266180                                      NR
266181                                      NR
266182                                      NR
266184                                      NR
266185                                      NR
266187                                      NR
266188                                      NR
266190                                      NR
266191                                      NR
266193                                      NR
266194                                      NR
266195                                      NR
266198    firstNations,black/african,caucasian
266199                                      NR
266200                                      NR
266201                                      NR
Name: Ethnicity, dtype: string

#### 41. Dropping the columns such as vulnerable_case and symptoms were dropped because their information can be reliably derived from existing variables (e.g., age, pre-existing conditions, and individual symptom indicators). Columns including contact_in_household and media were removed due to very high missingness and limited analytical value, ensuring the final dataset remains focused, consistent, and suitable for robust analysis.

In [93]:

#Dropping the columns
merged_df_covid.drop(columns={'Is_Vulnerable_Case','Symptoms','contact_in_household','Media','Report_Week'},axis=1,inplace=True)

In [94]:

#Displaying the info 
merged_df_covid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38550 entries, 0 to 266201
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Postal_District            38550 non-null  object
 1   Is_Probable_Case           38550 non-null  int64
 2   Symptom_Fever              38550 non-null  int64
 3   Symptom_Cough              38550 non-null  int64
 4   Symptom_Breath_Shortness   38550 non-null  int64
 5   Age_Range                  38550 non-null  object
 6   Has_Preexisting_Condition  38550 non-null  int64
 7   Recent_Traveler            38550 non-null  int64
 8   Known_Exposure             38550 non-null  int64
 9   Month                      38550 non-null  object
 10  Conditions                 38550 non-null  string
 11  Ethnicity                  38550 non-null  string
 12  Gender                     38550 non-null  object
 13  Needs                      38550 non-null  object
 14  COVID_Tested               38550 non-null  object
 15  COVID_Results_Date         38550 non-null  object
 16  COVID_Positive             38550 non-null  object
 17  Mental_Health_Status       38550 non-null  object
 18  Travel_Within_Canada       38550 non-null  object
 19  Quarantine                 38550 non-null  object
 20  Financial_Impact           38550 non-null  object
 21  Tobacco_Usage              38550 non-null  object
dtypes: int64(7), object(13), string(2)
memory usage: 6.8+ MB

#### 42. The index was reset after filtering and row removals to ensure a clean, continuous row numbering. This helps maintain data consistency, prevents indexing errors in downstream analysis, and improves readability and reproducibility of the dataset.

In [95]:

# Resetting the index
merged_df_covid.reset_index(drop=True, inplace=True)
merged_df_covid

,Postal_District,Is_Probable_Case,Symptom_Fever,Symptom_Cough,Symptom_Breath_Shortness,Age_Range,Has_Preexisting_Condition,Recent_Traveler,Known_Exposure,Month,...,Gender,Needs,COVID_Tested,COVID_Results_Date,COVID_Positive,Mental_Health_Status,Travel_Within_Canada,Quarantine,Financial_Impact,Tobacco_Usage
0,L4C,0,0,0,0,<60,0,0,0,March,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
1,P1H,1,0,0,0,>60,1,0,1,March,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
2,N2J,0,0,0,0,>60,0,0,0,March,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
3,N1G,0,0,0,0,<60,0,0,0,March,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
4,L3M,0,0,0,0,<60,0,0,0,March,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38545,N1H,0,0,0,0,26-44,1,0,0,July,...,Female,None,1.0,May,Negative,Negative,Frontline Worker,0.0,NR,Current smoker
38546,K1R,0,0,0,0,26-44,1,0,0,July,...,NR,Emotional Support,1.0,July,Negative,NR,NR,NR,NR,NR
38547,M4M,0,0,0,0,26-44,1,0,0,July,...,NR,None,1.0,July,Negative,NR,NR,NR,NR,NR
38548,M6P,0,0,0,0,>65,1,0,0,July,...,Male,None,0.0,NR,NR,No Impact,Not a Commuter,0.0,NR,Never smoker
38549,K2H,0,0,0,0,45-64,1,0,0,July,...,Female,None,0.0,NR,NR,Negative,Frontline Worker,1.0,NR,Never smoker

#### 43. This code saves the fully cleaned and processed COVID survey dataset to an Excel file without including the DataFrame index. Exporting the data in Excel format makes it easy to share, review, and use for further analysis or visualization.

In [96]:

#To save the file
merged_df_covid.to_excel("cleaned_COVID_Survey.xlsx", index=False)